* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: norseFont;
    src: url(Norse-Bold.otf);
}
h2 {
    font-family: norseFont;
    font-size: 5rem;
    text-shadow: 2px 2px 2px grey;
    margin: 0;
}
body {
    background-color: rgb(226, 232, 240);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.mainContent {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(405px, 0.2fr));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto auto auto auto;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.mainTitle {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
  
}
form {
    visibility:hidden;
    height: 0; 
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
 

}

legend {
    padding: 0px;
   
}

[for*='choiceOne']{
    font-style: italic;
}

[class*='card']{
    background-color: white;
    display:grid;
    height:fit-content;
    min-width: fit-content;
    border-radius: 12px;
    padding: 5px;
    border-left: 5px solid #5b21b6;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.527);
    grid-template-columns: 1fr 2fr; 
    padding-bottom: 3%;
    padding-top: 3%;
}
p, .boolVal {
    display: grid;
    justify-content: center;
    height: fit-content;
    margin-top: 4px;
    margin-bottom: 0px;
}
.readToggle, .del {
    width: fit-content;
    display: grid;
    gap: 1rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 12px;
    border: 2px solid black;
    font-weight: bold;
    

}   

.readToggle{
    justify-self: center;
    background-color: #a3e635;
}
.del {
    justify-self: center;
    background-color: rgba(255, 0, 0, 0.719);
}

.boilerField {
    grid-column: 1/2;
    justify-content: center;
    font-weight: bold;
}

[class*='infoField'], .boolVal {
    grid-column: 2/3;
  
}

.boolVal {
    margin-bottom: 3%;
   
}

.infoField1 {
    grid-row: 1;
}

.infoField2 {
    grid-row: 2;
}

.infoField3 {
    grid-row: 3;
    
}

#submitForm, #resetForm{
    border-radius: 12px;
    justify-content: center;
    margin-bottom: 1rem;
    width: fit-content;
    border: 2px solid black;
    font-weight: bold;
}
#submitForm{
    justify-self: right;
    background-color: #a3e635;
}

#resetForm{
    background-color: rgba(255, 0, 0, 0.719);
}

.newBookForm {
    border-radius: 12px;
    border: 2px solid black;
    background-color: #22d3ee;
    font-weight: bold;
}
#submitForm:hover, #resetForm:hover{
    background-color: #5b21b6;
    border: 2px solid rgba(255, 255, 255, 0);
    border: 0;
    color: white;
   
}
button:hover {
    cursor: pointer;
    background-color: #5b21b6;
    border: 2px solid rgba(255, 255, 255, 0);
    border: 0;
    color: white;
}


.newBookForm:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    color: white;
}

input {
    border-radius: 12px;
}

input:focus {
    outline: 2px solid #5b21b6;
    border-color: #5a21b600;
    
}

:focus {
    outline: 2px solid #5b21b6;
    border-color: #5a21b600;
}